body
{
	background-color:#eee;
	font-family:"Avenir-Light",Helvetica,sans-serif;
}
div#content
{
	width:700px;
	border-radius:6px;
	margin:0 auto;
	background-color:#fff;
	box-shadow:1px 1px 3px #6c7492;
	padding:20px;
}
h1, h3, p.footer
{
	text-align:center;
}
h1, h2, h3
{
	font-weight:normal;
}
.tagline
{
	font-style:italic;
}
.footer
{
	color:#797979;
}
.footer a:link, .footer a:visited
{
    color: #5E5E5E;
}
